{% extends "basePage.html" %}

{% block body_block %}
	<div class="container">
		<div class="wall">
			
		<h2>Create an Event</h2>
        <p style="color:red">{{ message }}</p>
		<form id="eventForm" method="post" action="/createEvent/">
			{% csrf_token %}
			<div class="row">
				<div class="col-sm-6">
					<input type="text" class="form-control" placeholder="Event Name" name="eventName" />
				</div>
			</div>
            <div class="row">
                <div class="col-sm-6">
                    <textarea name="eventDescription" class="form-control" placeholder="Event Description"></textarea>
                </div>    
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input name="location" class="form-control" placeholder="Where?" />
                </div>    
            </div>
			<div class="row">
				<div class="col-sm-4">				
					<div class="input-group date">
						<input type="text" data-format="dd/MM/yyyy" name="startDate" class="form-control" placeholder="Start Datetime" />
						<span class="input-group-addon">
							<i class="fa fa-th"></i>
						</span>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="input-group">
						<input type="text" data-format="hh:mm" name="startTime" class="form-control time" placeholder="Start Time" />
						<span class="input-group-addon">
							<i class="fa fa-clock-o"></i>
						</span>	
					</div>
				</div>
			</div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group date">
						<input type="text" data-format="dd/MM/yyyy" name="endDate" class="form-control" placeholder="End Datetime" />
						<span class="input-group-addon">
							<i class="fa fa-th"></i>
						</span>
					</div>
                </div>
                <div class="col-sm-2">
					<div class="input-group">
						<input type="text" data-format="HH:mm" name="endTime" class="form-control time" placeholder="End Time" id="endTime" />
						<span class="input-group-addon">
							<i class="fa fa-clock-o"></i>
						</span>	
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-sm-6">
				<p>Invite All?</p>
					All&nbsp;<input type="radio" name="invis" value="0" id="invSelct1" />
					Select People to invite&nbsp;<input type="radio" name="invis" value="1" id="invSelct2" />
					<div id="selectDiv">
						<select data-placeholder="Select People to invite" name="invitees" style="width: inherit" multiple class="chosen-select">
							{% for user in users %}
	                            <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name}}</option>
	                        {% endfor %}
						</select>
					</div>
					
				</div>
			</div>
			<br>
			<input type="submit" class="btn btn-large btn-success" value="Create" />
		</form>

		</div>
	</div>
{% endblock %}