{% extends "basePage.html" %}

{% block body_block %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="wall">
				<div class="userProfile">
					<h3><a href="{% url 'profile' user.id  %}">{{ user.first_name }}</a></h3>
					<div class="userInfo">
						<ul class="stats">
							<li><a href="{% url 'profile' user.id  %}">Shouts<span>{{ shouts_num }}</span></a></li>
							<li><a href="{% url 'profile' user.id  %}">Followers<span>{{ follower }}</span></a></li>
							<li><a href="{% url 'profile' user.id  %}">Following<span>{{ following }}</span></a></li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
				<hr />
				
			</div>		
		</div>
		<div class="col-md-6">
			<div class="wall">
				<div class="event_info">
					<h2>{{ event.event_name }}</h2>
					<p>{{ event.event_descp }}</p>
					<p><strong>Where</strong>: {{ event.location }}</p>
					<p><strong>Starts</strong>: {{ event.start_date }}</p>
					<p><strong>Ends</strong>: {{ event.start_date }}</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="wall">

			</div>
		</div>
	</div>
</div>

{% endblock %}