{% extends "basePage.html" %}

{% block body_block %}

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="wall">
				<div class="userProfile">
					<h3><a href="{% url 'profile' user.id  %}">{{ user.first_name }}</a></h3>
					<div class="userInfo">
					<input type="hidden" id="hashText" value="{{ hashText }}">
						<ul class="stats">
							<li><a href="{% url 'profile' user.id  %}">Shouts<span>{{ shouts_num }}</span></a></li>
							<li><a href="{% url 'profile' user.id  %}">Followers<span>{{ follower }}</span></a></li>
							<li><a href="{% url 'profile' user.id  %}">Following<span>{{ following }}</span></a></li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
				<hr />
			</div>
		</div>
		<div class="col-md-6">
			<div class="wall">
				<div class="event_hash" style="padding:12px">
					<h3>Related Events: </h3>
					<div id="hashEvents" class="row">
						
						
					</div>
				</div>
				<hr/>
				<div class="shouts_hash">
					<h3>Related Shouts:</h3>
					<div id="hashShouts" class="shouts">
						
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="wall">
			</div>
		</div>
	</div>
</div>
{% endblock %}