{% extends "basePage.html" %}

{% block body_block %}

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="wall">
				<div class="userProfile">
					<h3><a href="/profile/">{{ first_name }}</a></h3>
					<div class="userInfo">
						<ul class="stats">
							<li><a href="/profile/">Shouts<span>{{ shouts_num }}</span></a></li>
							<li><a href="/profile/">Followers<span>0</span></a></li>
							<li><a href="/profile/">Following<span>0</span></a></li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
				<hr />
			</div>
		</div>
		<div class="col-md-6">
			<div class="wall">
				<div class="event_hash">

					<div class="container">
						<div class="row">
							<h3>Related Events: </h3>
							<div class="col-md-2 box">
								<h4>Event Name</h4>
								<p>Event Description</p>
								<button class="btn btn-large btn-primary">See More!</button>
							</div>
						</div>
					</div>
					
				</div>
				<hr/>
				<div class="shouts_hash">
					<h3>Related Shouts:</h3>
					<div class="shouts">
						{% for q in shout_list %}
							<div class="shout">
								<h4><a href="/profile/">{{ q.user }}</a></h4>
								<p class="shout_text">{{ q.shout }}</p>
								<p class="timestamp pull-right">{{ q.shout_at }}</p>
								<div class="clear"></div>
								<p class="licom">
									<span><a href="#">Like <i class="fa fa-thumbs-up" aria-hidden="true"></i></a></span>&nbsp;
									{% if q.like_num > 0 %}
										<span>{{ q.like_num }} people like this</span>
									{% endif %}
								</p>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="wall">
			</div>
		</div>
	</div>
</div>

{% endblock %}