{% extends "basePage.html" %}

{% block body_block %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="wall">
				<div class="userProfile">
					<h3><a href="{% url 'profile' user.id  %}">{{ user.first_name }}</a></h3>
					<div class="userInfo">
						<ul class="stats">
							<li><a href="{% url 'profile' user.id  %}">Shouts<span>{{ shouts_num }}</span></a></li>
							<li><a href="{% url 'profile' user.id  %}">Followers<span>{{ follower }}</span></a></li>
							<li><a href="{% url 'profile' user.id  %}">Following<span>{{ following }}</span></a></li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
				<hr />
				
			</div>		
		</div>
		<div class="col-md-6">
			<div class="wall">
				<div class="post_shout">
					<span id="char_count" class="pull-right"><span class="charNum">0</span><span>/160</span></span>
					<div class="clear"></div>
					<form role="form" method="post" action="/shout/">
						{% csrf_token %}
						<div class="mg10">
							<textarea class="shout_text form-control" placeholder="What's Happening?" name="shout"></textarea>	
						</div>
						<input type="hidden" class="pageName" name="pageName" value="home" />
						<input type="submit" id="shoutBtn" value="Shout!" class="btn btn-large btn-primary pull-right" />
						<div class="clear"></div>	
					</form>					
				</div>
				<div class="shouts" id="homeShouts">
					
				</div>
			</div>
			
		</div>
		<div class="col-md-3">
			<div class="wall">
				<div class="newsfeed">
					<h4>New Events</h4>
					<div class="eventDiv">
						<ul id="event_list">
							{% for e in event_list %}
								<li><a href="{% url 'event_info' e.id %}">{{ e.event_name }}</a>
								{% if user.first_name == e.username %}
									<a href="{% url 'edit_event' e.id  %}"><i class="fa fa-pencil"></i>
									</a>
								{% endif %}
								</li>
							{% endfor %}
						</ul>	
					</div>
					
					<p><a href="/createEvent/" class="btn btn-large btn-primary">Create an event</a></p>

					<div class="followList">
						
						<ul id="flwList">
							<h4>People to follow</h4>
							{% for userO in flwList %}
								<li><a href="{% url 'profile' userO.id %}">{{ userO.first_name }} {{ userO.last_name }}</a>
								<a href="{% url 'follow' userO.id  %}"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
								</li>
							{% endfor %}
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}