{% extends "basePage.html" %}
{% block nav_block %}
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/logout/">Logout</a></li>
	</ul>
{% endblock %}
{% block body_block %}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="wall">
				<div class="userProfile">
					<h3>{{ user_prof.first_name }} {{ user_prof.last_name }}</h3>
					<p><a href="{% url 'profile' user_prof.id  %}">${{ user_prof.username }}</a></p>
					<h4>{{ profile.bio }}</h4>
					<input type="hidden" id="profLId" value="{{ user_prof.id }}">
					<input type="hidden" class="pageName" name="pageName" value="profile" />
					{% if user.id != user_prof.id %}
						<a href="{% url 'follow' user_prof.id  %}" class="btn btn-large btn-primary pull-right">
							{% if following %}
								Unfollow
							{% else %}
								Follow
							{% endif %}
						</a>
					{% endif %}
				</div>
				<div class="clear"></div>
			</div>	
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<div class="wall">
				{% if user.id == user_prof.id %}
					<div class="post_shout">
						<span id="char_count" class="pull-right"><span class="charNum">0</span><span>/160</span></span>
						<div class="clear"></div>
						<form role="form" method="post" action="/shout/">
							{% csrf_token %}
							<div class="mg10">
								<textarea class="shout_text form-control" placeholder="What's Happening?" name="shout"></textarea>	
							</div>
							<input type="hidden" class="pageName" name="pageName" value="profile" />
							<input type="submit" id="shoutBtn" value="Shout!" class="btn btn-large btn-primary pull-right" />
							<div class="clear"></div>	
						</form>					
					</div>
				{% endif %}

				<div id="profShouts" class="shouts">
			
				</div>
				
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="wall">
				<div class="newsfeed">
					<h4>Upcoming Events</h4>
					<ul>
					</ul>
					<p><a href="/createEvent/" class="btn btn-large btn-primary">Create an event</a></p>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}